@import "../../../../../custom-theme.scss";

.main {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.mobile-hide {
  display: none;
}

.mobile-main {
  height: 100%; // This was very important to not break the graphisms, it will always load at least the height needed
  width: 100%;
  background-color: $background-color;
  position: relative;
  overflow: auto;
  overflow-x: hidden;

  .form-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; // Important to the desktop version
    width: 90%;
    margin: 0 auto;
  
    .logo-mobile {
      margin: 2em 0 11em;
      width: 115px;
      z-index: 10;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 90%;
      position: relative;
      z-index: 10;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        mat-form-field:first-child {
          margin: 10px 0;
        }
      }
    
      .link-block {
        position: absolute;
        text-align: right;
        z-index: 12;
        bottom: 7.5em;
        right: 0;
      }

      .button-submit {
        margin-top: 35px;
        background-color: $primary-color;
        color: #fff;
        font-size: 18px;
        height: 60px;
        text-transform: uppercase;
        border-radius: 6px;
        width: 100%;
        margin-bottom: 1em;
        font-weight: 500;

        &:active {
          background-color: $laranjaf1
        }

        &:not(:disabled):hover {
          background-color: $laranjaf4
        }
      }
    }
    .cadastrar {
      margin-bottom: 15%;
      margin-top: auto; // sticks to the bottom when the is flex-direction: column; on the parent component
    }
  }
}

mat-form-field {
  ::ng-deep .mat-form-field-flex {
    background-color: #fff;
  }
} 

// When writing media query, be aware of the scopes of selector of the default, because who has more selector's wins the priority in this case
@media all and (min-width: 1280px) {
  .mobile-hide {
    display: block;
  }

  .main {
    display: flex;
    height: 100%;
  }

  .mobile-main {
    width: 50%;

    .form-hero {
      height: 100%;

      .cadastrar {
        z-index: 10;
        margin-top: 72px;
        padding-bottom: 30px;
      }

      // The (top, bottom, etc) only works when the it has the position: relative; and the parent has height property (line above)
      .main-content { 
        position: relative;
        margin-top: 33vh;

        .link-block {
          bottom: 7.6em;
        }
      }
    }
  }

  .logo-mobile {
    display: none;
  }

  mat-form-field {
    input {
      font-size: 15px;
    }
  }
}