<form class="example-form">
  <img src="../../../../../assets/fifo.ico" width="120px" alt="Icone do Pagina" srcset="">

<div>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Usuário</mat-label>
    <input formControlName="Login" matInput placeholder="E-mail" type="text" >
  </mat-form-field>
  <mat-form-field appearence="outline" class="example-full-width" appearance="outline">
    <mat-label>Senha</mat-label>
    <input formControlName="senha" matInput placeholder="Senha" type="password">
  </mat-form-field>
</div>


  <button class="button-submit" type="submit" mat-raised-button>Login</button>

</form>
