<div class="main">
  <app-desktop-content class="mobile-hide"></app-desktop-content>
  <div class="mobile-main">

    <app-graphisms></app-graphisms>
  
    <div class="form-hero">
      <img class="logo-mobile" src="../../../../../assets/Logo Fifo.png" alt="Icone do página" srcset="">

      <div class="main-content">
        <form [formGroup]="userForm" (ngSubmit)="authentication()" class="example-form">
          <mat-form-field appearance="fill">
            <mat-label>Email *</mat-label>
            <input formControlName="email" name="name" matInput placeholder="usuario@fcamara.com.br" type="email">
            <span class="invalid-icon" *ngIf="userForm.controls.email.status == 'INVALID' && userForm.controls.email.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="userForm.controls.email.status == 'VALID' && userForm.controls.email.touched">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Senha *</mat-label>
            <input formControlName="password" name="password" matInput type="password">
            <span class="invalid-icon" *ngIf="userForm.controls.password.status == 'INVALID' && userForm.controls.password.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="userForm.controls.password.status == 'VALID' && userForm.controls.password.touched">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
        </form>

        <div class="link-block">
          <a href="#">Esqueci minha senha.</a>
        </div>
        
        <button class="button-submit" type="submit" [disabled]="userForm.invalid" routerLink="/queue-entry">Entrar</button>
      
      </div>
      <p class="cadastrar">Não tem uma conta? <a routerLink="sign-up">Cadastre-se.</a></p>
    </div>
  </div>
</div>