<form [formGroup]="userForm" (ngSubmit)="authentication()" class="example-form">
  <img src="../../../../../assets/fifo.ico" width="120px" alt="Icone do Pagina" srcset="">

<div>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email *</mat-label>
    <input formControlName="email" name="name" matInput placeholder="E-mail" type="email">
    <span *ngIf="userForm.controls.email.status == 'INVALID' && userForm.controls.email.touched">Preencha seu e-mail</span>
  </mat-form-field>
  <mat-form-field appearence="outline" class="example-full-width" appearance="outline">
    <mat-label>Senha *</mat-label>
    <input formControlName="password" name="password" matInput placeholder="Senha" type="password">
    <span *ngIf="userForm.controls.password.status == 'INVALID' && userForm.controls.password.touched">Preencha sua senha</span>
  </mat-form-field>
</div>

  <button class="button-submit" type="submit" [disabled]="userForm.invalid" mat-raised-button>Entrar</button>

</form>
