@import "../../../../../shared/styles/graphism-style.scss";

.mobile-hide {
  display: none;
}

.ondas {
  top: 50px;
  left: 30px;

  img {
    width: 83px;
  }
}

.pontos-grandes {
  top: 20px;
  right: 30px;

  img {
    height: 105px;
    width: 116px;
  }
}

.pontos-pequenos {
  bottom: 91px;
  left: 37px;

  img {
    width: 76px;
  }
}

.ondas2 {
  bottom: 32px;
  right: -7px;

  img {
    width: 113px;
  }
}

@media all and (min-width: 1200px) {
  .mobile-hide {
    display: block;
  }
  
  .desktop-hide {
    display: none;
  }
  
  .pontos-4 {
    top: 307px;
    left: 126px;
  
    img {
      width: 60px;
    }
  }

  .ondas-finas {
    top: 70px;
    right: 40%;
  
    img {
      width: 200px;
    }
  }

  .pontos-grandes {
    top: 86px;
    right: 135px;
    
    img {
      height: 124px;
      width: 129px;
    }
  }

  .ondas-finas2 {
    top: 50em;
    left: 135px;
  
    img {
      height: 91px;
      width: 200px;
    }
  }

  .pontos-4-2 {
    top: 50.8em;
    right: 45%;
  
    img {
      width: 60px;
    }
  }
    
  .pontos-pequenos {
    top: 46em;
    right: 135px;
    left: unset;
    bottom: unset;
  
    img {
      width: 172px;
    }
  }
}