<div class="ondas desktop-hide graphism">
  <img src="../../../../../assets/Grafismo ondas.svg" alt="">
</div>
<div class="pontos-grandes graphism">
  <img src="../../../../../assets/Grafismo pontos grandes.svg" alt="">
</div>
<div class="pontos-pequenos graphism">
  <img src="../../../../../assets/Grafismo pontos pequenos.svg" alt="">
</div>
<div class="ondas2 desktop-hide graphism">
  <img src="../../../../../assets/Grafismo ondas.svg" alt="">
</div>

<div class="pontos-4 mobile-hide graphism">
  <img src="../../../../../assets/Grafismo 4 pontos.svg" alt="">
</div>
<div class="ondas-finas mobile-hide graphism">
  <img src="../../../../../assets/Grafismo ondas finas.svg" alt="">
</div>
<div class="ondas-finas2 mobile-hide graphism">
  <img src="../../../../../assets/Grafismo ondas finas.svg" alt="">
</div>
<div class="pontos-4-2 mobile-hide graphism">
  <img src="../../../../../assets/Grafismo 4 pontos.svg" alt="">
</div>