.pontos-grandes {
  position: absolute;
  top: 12%;
  left: -24px;
  overflow: hidden;
}

.ondas {
  position: absolute;
  bottom: 18%;
  overflow: hidden;
}

.pontos-pequenos {
  position: absolute;
  text-align: right;
  bottom: 16%;
  overflow: hidden;
  right: -33px;
}

@media all and (min-width: 1280px) {
  .pontos-grandes {
    left: 0;
    img {
      width: 142px;
      height: 137px;
    }
  }

  .ondas {
    img {
      width: 165px;
    }
  }

  .pontos-pequenos {
    right: 5px;
    bottom: 5%;

    img {
      width: 205px;
    }
  }
}