<div class="desktop-content">
  <div class="pontos graphism">
    <img src="../../../../../../assets/Grafismo pontos laranja.svg" alt="">
  </div>

  <div class="pontos2 graphism">
    <img src="../../../../../../assets/Grafismo pontos laranja.svg" alt="">
  </div>

  <div class="pontos-4 graphism">
    <img src="../../../../../../assets/Grafismo 4 pontos laranja.svg" alt="">
  </div>

  <div class="x graphism">
    <img src="../../../../../../assets/Grafismo x laranja.svg" alt="">
  </div>

  <div class="hero">
    <div class="ondas graphism">
      <img src="../../../../../../assets/Grafismo ondas laranjas.svg" alt="">
    </div>
    <img class="logo-desktop" src="../../../../../../assets/Logo Fifo negativo.svg" alt="Icone da página">

    <div class="content">
      <h1>A FILA DIGITAL DO FIFO</h1>
      <p>Escolha sua plataforma de jogo e aguarde sua vez com mais liberdade</p>
    </div>
  </div>
</div>