<div class="user-on-queue">
  <div class="hero">
    <div class="content">
      <p class="title">Sua posição na fila:</p>
      <div class="user-position">
        <p>{{userPosition}}</p>
      </div>
      <p class="pontos">...</p>
      <p>Aguarde a notificação quando for sua vez.</p>
      <p class="boa-sorte">Boa sorte!</p>
      <div class="bttns">
        <button class="sair-bttn" (click)="onUserQuitQueue.emit()"> {{userPosition > 1 ? 'Sair da fila' : 'Sair do jogo'}} </button>
        <button class="ok-bttn"   (click)="onUserChecking.emit()">OK</button>
      </div>
    </div>
  </div>
</div>
