@import "../../../../../custom-theme.scss";

.mobile-hide {
  display: none;
}

.user-on-queue {
  background-color: $laranjaf1;
  width: 100%;
  min-height: 100%;
  display: flex;
  overflow: hidden;
  //justify-content: center;
}

.hero {
  width: 80%;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh auto;
  height: 350px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;

    p {
      font-size: 14px;
      text-align: center;
    }

    .title {
      margin-bottom: 20px;
    }

    .user-position {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $bluef1;
      display: flex;
      align-items: center;
      
      p {
        color: $laranjaf1;
        width: 100%;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
      }
    }

    .pontos {
      color: $primary-color;
      font-size: 45px !important;
      margin-bottom: 20px;
      margin-top: -5px;
    }

    .boa-sorte {
      text-transform: uppercase;
      color: $laranjaf1;
      font-size: 18px;
      margin: 10px 0 20px;
    }

    .bttns {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 5px;

      .sair-bttn {
        background-color: #fff;
        color: $bluef0;
        width: 50%;
        padding: 1.2em;
        font-size: 12px;
        border: 0.5px solid $bluef0;
        border-radius: 6px;
      }
  
      .ok-bttn {
        background-color:$bluef0;
        color: #fff;
        width: 50%;
        font-size: 12px;
        border-radius: 6px;
        margin-left: 30px;
      }
    }

  }
}

.jogar {
  font-size: 22px !important;
}

.medalha {
  padding: 2.5em 0 1.8em;
  width: 95px;
}