<div class="user-on-queue">
  <div class="ondas">
    <img src="../../../../../assets/Grafismo ondas.svg" alt="">
  </div>
  <div class="pontos-grandes">
    <img src="../../../../../assets/Grafismo pontos grandes.svg" alt="">
  </div>
  <div class="pontos-pequenos">
    <img src="../../../../../assets/Grafismo pontos pequenos.svg" alt="">
  </div>
  <div class="ondas2">
    <img src="../../../../../assets/Grafismo ondas.svg" alt="">
  </div>
  <div class="hero" *ngIf="!userQuit">
    <div class="content">
      <ng-template [ngIf]="userPosition > 1" [ngIfElse]="suavez">
        <p class="title">Sua posição na fila:</p>
        <div class="user-position">
          <p>{{userPosition}}</p>
        </div>
        <p class="pontos">...</p>
        <p>Aguarde a notificação quando for sua vez.</p>
      </ng-template>
      <p class="boa-sorte">Boa sorte!</p>
      <div class="bttns">
        <button class="sair-bttn" (click)="userPosition === 1 ? onUserQuitQueue.emit() : userQuit = true"> {{userPosition > 1 ? 'Sair da fila' : 'Sair do jogo'}} </button>
        <button class="ok-bttn"   (click)="onUserChecking.emit()">ok</button>
      </div>
    </div>
  </div>
  <div class="confirm-user-quit" *ngIf="userQuit">
    <div class="content-quit">
      <p>Você está saindo da fila.</p>
      <p>Tem certeza que quer sair da fila?</p>
      <div class="bttns">
        <button class="sair-bttn" (click)="userQuit = false">Cancelar</button>
        <button class="ok-bttn" (click)="onUserQuitQueue.emit()"> {{userPosition > 1 ? 'Sair da fila' : 'Sair do jogo'}} </button>
      </div>
    </div>
  </div>
</div>

<ng-template #suavez>
  <p class="jogar">Sua vez de jogar!</p>
  <img class="medalha" src="../../../../../assets/medalha 1.svg" alt="Medalha">
</ng-template>