<div class="main">
  <app-desktop-content class="mobile-hide"></app-desktop-content>
  <div class="mobile-main">
    <div class="form-hero">
      <img class="logo-mobile" src="../../../../../assets/Logo Fifo.png" alt="Icone do página" srcset="">

      <div class="main-content">
        <p class="title">Esqueceu? Não tem problema!</p>
        <p class="sub-title">Vou enviar um link por email para cadastrar uma nova senha.</p>
        <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()" class="example-form">
          <mat-form-field appearance="fill">
            <mat-label>Email *</mat-label>
            <input formControlName="email" name="name" matInput placeholder="usuario@fcamara.com.br" type="email">
            <span class="invalid-icon" *ngIf="recoverForm.controls['email'].getError('incorrect')">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
          </mat-form-field>
          
          <button class="button-submit" type="submit" [disabled]="recoverForm.invalid">Enviar</button>
        </form>
      </div>
    </div>
    <app-graphisms></app-graphisms>
  </div>
</div>