<div class="main">
  <app-desktop-content class="mobile-hide"></app-desktop-content>
  <div class="mobile-main">
    <div class="form-hero">
      <img class="logo-mobile" src="../../../../../assets/Logo Fifo.png" alt="Icone do página" srcset="">

      <div class="main-content">
        <ng-template [ngIf]="!emailSent" [ngIfElse]="emailsentbox">
          <p class="title">Esqueceu? Não tem problema!</p>
          <p class="sub-title">Vou enviar um link por email para cadastrar uma nova senha.</p>
          <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
            <mat-form-field appearance="fill">
              <mat-label>Email *</mat-label>
              <input formControlName="email" name="name" matInput placeholder="usuario@fcamara.com.br" type="email">
              <span class="invalid-icon" *ngIf="recoverForm.controls['email'].getError('incorrect')">
                <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
              </span>
            </mat-form-field>
            
            <button class="button-submit" type="submit">Enviar</button>
          </form>
        </ng-template>
        <ng-template #emailsentbox>
          <p class="title">Enviado!</p>
          <p class="sub-title">Verifique seu email e cadastre uma nova senha.</p>
          <p class="redirect">Você será redirecionado para a página inicial em {{ timer }}...</p>
        </ng-template>
      </div>
    </div>
    <app-graphisms></app-graphisms>
  </div>
</div>