@import "../../../../../custom-theme.scss";
@import "../../shared/styles/page-style.scss";

.main {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.mobile-hide {
  display: none;
}

.mobile-main {
  height: 100%; // This was very important to not break the graphisms, it will always load at least the height needed
  width: 100%;
  background-color: $background-color;
  position: relative;
  overflow: auto;
  overflow-x: hidden;

  .form-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; // Important to the desktop version
    width: 90%;
    margin: 0 auto;
  
    .logo-mobile {
      margin: 2em 0 10em;
      width: 115px;
      z-index: 10;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 90%;
      position: relative;
      z-index: 10;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          width: 95%;
        }
      }

      .button-submit {
        margin-top: 8px;
        background-color: $primary-color;
        color: #fff;
        font-size: 18px;
        height: 60px;
        text-transform: uppercase;
        border-radius: 6px;
        width: 100%;
        margin-bottom: 1em;
        font-weight: 500;

        &:active {
          background-color: $laranjaf1
        }

        &:not(:disabled):hover {
          background-color: $laranjaf4
        }
      }
    }
  }
}

mat-form-field {
  ::ng-deep .mat-form-field-flex {
    background-color: #fff;
  }
}

.title {
  font-size: 18px;
  margin-bottom: 25px;
}

.sub-title {
  font-size: 14px;
  margin-bottom: 40px;
}

.redirect {
  margin: 60px 0;
  font-size: 10px;
  opacity: 0.7;
}

// When writing media query, be aware of the scopes of selector of the default, because who has more selector's wins the priority in this case
@media all and (min-width: 1280px) {
  .mobile-hide {
    display: block;
  }

  .main {
    display: flex;
    height: 100%;
  }

  .mobile-main {
    width: 50%;

    .form-hero {
      height: 100%;

      .main-content { 
        position: relative;
        margin-top: 32vh;

        .button-submit {
          margin-top: 20px;
        }
      }
    }
  }

  .logo-mobile {
    display: none;
  }

  mat-form-field {
    input {
      font-size: 15px;
    }
  }

  .title {
    font-size: 21px;
    margin-bottom: 32px;
  }
  
  .sub-title {
    font-size: 16px;
    margin-bottom: 75px;
  }

  .redirect {
    font-size: 14px;
  }
}