<form [formGroup]="platformForm" (ngSubmit)="enviar()">
    <h1>Plataformas</h1>
    <mat-form-field appearance="fill">
      <mat-label>Escolha uma plataforma</mat-label>
      <mat-select formControlName="platform">
        <mat-option *ngFor="let platform of platforms" [value]="platform.value"> {{platform.value}} </mat-option>
      </mat-select>
    </mat-form-field>
    <span id="queueCount" *ngIf="!platformForm.invalid">{{queueNumber(platformForm.value.platform)}} pessoas na fila</span>
    <br>  <!-- temporary break line-->
    <button class="button-submit" type="submit" [disabled]="platformForm.invalid" mat-raised-button>Entrar</button>
</form>