@import "../../../../../../custom-theme.scss";

.mobile-hide {
  display: none;
}

.confirm-quit {
  background-color: $laranjaf1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  //justify-content: center;
}

.bttns {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  height: 50px;

  .sair-bttn {
    background-color: #fff;
    color: $bluef0;
    width: 90%;
    height: 100%;
    font-size: 12px;
    border: 0.5px solid $bluef0;
    border-radius: 6px;
    font-weight: 500;

    &:active {
      color: $bluef1
    }

    &:not(:disabled):hover {
      color: $bluef2;
    }
  }

  .ok-bttn {
    background-color:$bluef0;
    color: #fff;
    width: 90%;
    height: 100%;
    font-size: 12px;
    border-radius: 6px;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 500;

    &:active {
      background-color: $bluef1
    }
    
    &:not(:disabled):hover {
      background-color: $bluef2;
    }
  }
}

.confirm-user-quit {
  width: 80%;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30vh auto;
  height: 225px;
  z-index: 20;

  .content-quit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 220px;
    justify-content: center;
    text-align: center;

    p:first-of-type {
      margin-bottom: 25px;
    }

    p:last-of-type {
      font-weight: 500;
    }
    
    .bttns {
      margin-top: 2.4em;
    }
  }
}

@media all and (min-width: 1200px) {
  .mobile-hide {
    display: block;
  }
  
  .desktop-hide {
    display: none;
  }

  .confirm-user-quit {
    width: 33%;
    height: 320px;
    margin-bottom:  40px;
    
    .content-quit {
      width: 75%;
      
      p {
        font-size: 18px;
      }

      p:first-of-type {
        margin-bottom: 40px;
      }

      .bttns {
        margin-top: 4.1em;
      }
    }
  }

  .bttns {
    height: 60px;

    .sair-bttn {
      font-size: 16px;
      width: 60%;
      height: 100%;
    }
  
    .ok-bttn {
      width: 60%;
      font-size: 16px;
      height: 100%;
    }
  }
}