<div class="confirm-quit">

  <div class="confirm-user-quit">
    <div class="content-quit">
      <p>{{ userPosition === 1 ? 'Terminou sua partida?'  : 'Que pena! Você está saindo da fila.' }}</p>
      <p>{{ userPosition === 1 ? 'Tem certeza que quer sair do jogo?'  : 'Tem certeza que quer sair da fila?' }}</p>
      <div class="bttns">
        <button class="sair-bttn" (click)="onUserCancel.emit()">Cancelar</button>
        <button class="ok-bttn" (click)="onUserQuit.emit()"> {{ userPosition > 1 ? 'Sair da fila' : 'Sair do jogo' }} </button>
      </div>
    </div>
  </div>
</div>
<app-graphisms-orange-display></app-graphisms-orange-display>