<form [formGroup]="userForm" (ngSubmit)="enviar()" class="example-form">
  <img src="../../../../../assets/fifo.ico" width="120px" alt="Icone do Pagina" srcset="">

  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nome completo</mat-label>
      <input formControleName="name" matInput placeholder="Nome" type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Seu melhor e-mail</mat-label>
      <input formControleName="email" matInput placeholder="email" type="email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Sua senha</mat-label>
      <input formControleName="password" matInput placeholder="Senha" type="password">
    </mat-form-field>
  </div>
  <button class="button-submit" type="submit" mat-raised-button>Cadastrar-se</button>

</form>
