<div class="main">
  <app-desktop-content class="mobile-hide"></app-desktop-content>
  <div class="mobile-main">
    <div class="pontos-grandes">
      <img src="../../../../../assets/Grafismo pontos grandes.svg" alt="Design pontos">
    </div>

    <div class="form-hero">
      <img class="logo-mobile" src="../../../../../assets/Logo Fifo.png" alt="Icone do página" srcset="">
      
      <div class="main-content">
        <form [formGroup]="userForm" (ngSubmit)="createAccount()">
          <mat-form-field appearance="fill">
            <mat-label>Nome completo *</mat-label>
            <input formControlName="name" name="name" matInput placeholder="Nome" type="text">
            <!--<span *ngIf="userForm.controls.name.status == 'INVALID' && userForm.controls.name.touched">Preencha seu nome</span>!-->
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>E-mail *</mat-label>
            <input formControlName="email" name="email" matInput placeholder="Email" type="email">
            <mat-hint>usuario@fcamara.com.br</mat-hint>
            <!--<span *ngIf="userForm.controls.email.status == 'INVALID' && userForm.controls.email.touched">Preencha seu e-mail</span>!-->
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Senha *</mat-label>
            <input formControlName="password" name="password" matInput placeholder="Senha" type="password">
            <!--<span *ngIf="userForm.controls.password.status == 'INVALID' && userForm.controls.password.touched">Preencha a senha com ao menos 6 caracteres</span>!-->
            <mat-hint>Sua senha deve conter 6 dígitos</mat-hint>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Confirme sua senha *</mat-label>
            <input formControlName="confirmPassword" name="password" matInput placeholder="Senha" type="password">
            <!--<span *ngIf="userForm.controls.password.status == 'INVALID' && userForm.controls.password.touched"></span>!-->
          </mat-form-field>
          
          <button class="button-submit" type="submit" [disabled]="userForm.invalid">Cadastrar-se</button>
        </form>
      </div>
      <p class="login">Já possui cadastro? <a routerLink="">Faça login.</a></p>
    </div>
      
    <div class="ondas">
      <img src="../../../../../assets/Grafismo ondas.svg" alt="Design ondas">
    </div>
    
    <div class="pontos-pequenos">
      <img src="../../../../../assets/Grafismo pontos pequenos.svg" alt="Design pontos">
    </div>  
  </div>
  </div>