<div class="main">
  <app-desktop-content class="mobile-hide"></app-desktop-content>
  <div class="mobile-main">
    
    <app-graphisms></app-graphisms>

    <div class="form-hero">
      <img class="logo-mobile" src="../../../../../assets/Logo Fifo.png" alt="Icone do página" srcset="">
      
      <div class="main-content">
        <form [formGroup]="userForm" (ngSubmit)="createAccount()">
          <mat-form-field appearance="fill">
            <mat-label>Nome completo *</mat-label>
            <input formControlName="name" name="name" matInput type="text">
            <span class="invalid-icon" *ngIf="userForm.controls.name.status == 'INVALID' && userForm.controls.name.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="userForm.controls.name.status == 'VALID' && userForm.controls.name.touched">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>E-mail *</mat-label>
            <input formControlName="email" name="email" matInput placeholder="usuario@fcamara.com.br" type="email">
            <span class="invalid-icon" *ngIf="userForm.controls.email.status == 'INVALID' && userForm.controls.email.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="userForm.controls.email.status == 'VALID' && userForm.controls.email.touched">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Senha *</mat-label>
            <input formControlName="password" name="password" matInput placeholder="Sua senha deve conter 6 dígitos" type="password">
            <span class="invalid-icon" *ngIf="userForm.controls.password.status == 'INVALID' && userForm.controls.password.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="userForm.controls.password.status == 'VALID' && userForm.controls.password.touched">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Confirme sua senha *</mat-label>
            <input formControlName="confirmPassword" name="password" matInput type="password">
            <span class="invalid-icon" *ngIf="userForm.controls.confirmPassword.status == 'INVALID' && userForm.controls.confirmPassword.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="userForm.controls.confirmPassword.status == 'VALID'">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
          
          <button class="button-submit" type="submit">Cadastrar-se</button>
        </form>
      </div>
      <p class="login">Já possui cadastro? <a routerLink="">Faça login.</a></p>
    </div>
  </div>
</div>