@import "../../../../../custom-theme.scss";

.mobile-hide {
  display: none;
}

.mat-list-base {
  padding-top: 0px;
  // because of the padding, when clicking it was outlining the whole component
}

.content {
  padding: 0 3px;
}

.platform-list {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.hero {
  width: 87%;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  header {
    font-size: 14px;
    line-height: 15px;

    h2 {
      padding: 45px 0 8px;
      font-size: inherit;
      line-height: inherit;

      span {
        color: $laranjaf1;
      }
    }
    
    p {
      padding-bottom: 15px;
    }
  }
}

.mat-list-item {
  height: 100px !important;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 1.5px 4px 5px #9b9b9b;
  
  &:focus { // &:hover
    background-color: $lightgrey !important;
  }

  &:hover:not(:focus) {
    background-color: #f1f0f0 !important;
  }
}

.mat-list-single-selected-option, .mat-list-item-disabled {
  background: $lightgrey;
  box-shadow: inset 0 0 10px 1px #929292;
}

.box-item-platform {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 80px;
    height: 75px;
    position: absolute;
  }

  .text-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    div {
      width: 220px;

      p {
        margin: 0;
        color: #000000;
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
      }
  
      #platform-name {
        font-weight: 500;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}

.content {
  .platform-list-bttn {
    background-color: $bluef0;
    width: 180px;
    height: 50px;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    float: right;
    margin-top: 3px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500; 

    &:active {
      background-color: $bluef1;
    }

    &:not(:disabled):hover {
      background-color: $bluef2;
    }
  }
}

.error-message {
  float: left;
  width: 28vw;
  color: $laranjaf4;
}

@media all and (min-width: 1280px) {

  .desktop-hide {
    display: none;
  }

  .mobile-hide {
    display: block;
  }

  .hero {
    width: 40%;
    header {
      h2 {
        padding: 10vh 0 27px;
        font-size: 21px;
      }
      p {
        padding-bottom: 24px;
      }
    }
  }

  .content {
    .platform-list-bttn {
      width: 210px;
      height: 60px;
    }
  }

  .error-message {
    width: 55%;
    font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  .box-item-platform {
    img {
      position: relative;
      margin-right: 16px;
      width: 100px;
    }
  }
}