@import "../../../../../custom-theme.scss";

.mat-list-base {
  padding-top: 0px;
  // because of the padding, when clicking it was outlining the whole component
}

.content {
  padding: 0 3px;
}

.platform-list {
  background-color: $background-color;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.hero {
  width: 90%;
  margin: 0 auto;

  header {
    p {
      font-size: 15px;
      padding: 45px 0 7px;
    }
  }
}

::ng-deep .mat-list-item {
  height: 100px !important;
  border-radius: 8px;
  //border: 1px solid #7a7a7a;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 1.5px 4px 5px #9b9b9b;
  //padding: 15px 0 !important;

  &:hover {
    background-color: #fff !important;
  }

  &:active, &:focus {
    box-shadow: inset 0 0 10px 1px #929292;
  }
}

.mat-list-single-selected-option {
  background: #fff !important;
}

.box-item-platform {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 80px;
    padding-right: 16px;
  }

  .text-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    div {
      width: 130px;

      p {
        margin: 0;
        color: #000000;
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
      }
  
      #platform-name {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}

.content {
  .platform-list-bttn {
    background-color: $bluef0;
    width: 180px;
    height: 50px;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    float: right;
    outline: none;
    margin-top: 3px;

    &:active {
      background-color: $bluef1;
    }
  }
}