<div class="platform-list">
  <app-header></app-header>
  <div class='hero'>
    <header>
      <h2>Olá, <span class="txt-laranja">Sangue Laranja!</span></h2>
      <p>O que vai jogar hoje?</p>
    </header>
    <div class="content">
      <mat-selection-list #platformlist [multiple]="false" (selectionChange)="onSelectChangeEvent($event)" style="outline: none;" *ngIf="platforms">
        <mat-list-option *ngFor="let queue of platformQueue; let i = index" [value]="{ id: queue.id_platform, name: platforms[queue.id_platform - 1].name}" [disableRipple]='true' [disabled]="userChecked">
          <div class="box-item-platform">
            <img *ngIf="queue.id_platform == 1" src="../../../../../assets/PS4.svg" alt="Ícone para games" srcset="">
            <img *ngIf="queue.id_platform == 2" src="../../../../../assets/PS4.svg" alt="Ícone para games" srcset="">
            <img *ngIf="queue.id_platform == 3" src="../../../../../assets/snooker.svg" alt="Ícone para games" srcset="">
            <img *ngIf="queue.id_platform == 4" src="../../../../../assets/Monopoly.svg" alt="Ícone para games" srcset="">
            <div class="text-item">
                <div>
                  <p id="platform-name">{{ platforms[queue.id_platform - 1].name }}</p>
                  <p>{{queue.size}} Pessoas na fila</p>
                </div>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
      <p *ngIf="errorMessage" class="error-message">*Escolha uma plataforma de jogo para entrar na fila.</p>
      <button 
        class="platform-list-bttn" 
        type="button" 
        (click)="handleBttnClick()"
        >Entrar na fila
      </button>
    </div>
  </div>
</div>
<app-graphisms ></app-graphisms>