<div class="main">
  <app-desktop-content class="mobile-hide"></app-desktop-content>
  <div class="mobile-main">
    <div class="form-hero">
      <img class="logo-mobile" src="../../../../../assets/Logo Fifo.png" alt="Icone do página" srcset="">

      <div class="main-content">
        <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">
          <mat-form-field appearance="fill">
            <mat-label>Nova senha *</mat-label>
            <input formControlName="password" name="password" matInput placeholder="Sua senha deve conter 6 dígitos" type="password">
            <span class="invalid-icon" *ngIf="newPasswordForm.controls.password.status == 'INVALID' && newPasswordForm.controls.password.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="newPasswordForm.controls.password.status == 'VALID' && newPasswordForm.controls.password.touched">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Confirme a nova senha *</mat-label>
            <input formControlName="confirmPassword" name="password" matInput type="password">
            <span class="invalid-icon" *ngIf="newPasswordForm.controls.confirmPassword.status == 'INVALID' && newPasswordForm.controls.confirmPassword.touched">
              <img src="../../../../../assets/Alerta.png" alt="Simbolo de incorreto">
            </span>
            <span class="valid-icon" *ngIf="newPasswordForm.controls.confirmPassword.status == 'VALID'">
              <img src="../../../../../assets/Acerto.png" alt="Simbolo de correto">
            </span>
          </mat-form-field>
          
          <button class="button-submit" type="submit">Entrar</button>
        </form>
      
      </div>
    </div>
    <app-graphisms></app-graphisms>
  </div>
</div>