@import "../../../../../custom-theme.scss";

.user-checked {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.hero { 
  width: 87%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.mat-list-item {
  height: 130px !important;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 1.5px 4px 5px #9b9b9b;
}

.mat-list-item-disabled {
  background: #fff;
}

.box-item-platform {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  img {
    width: 80px;
    height: 75px;
    margin-left: 12px;
  }

  .text-item {
    width: 100%;
    text-align: center;
    height: 100px;

    div {
      font-size: 12px;
      
      p:first-of-type {
        padding-bottom: 19px;
      }

      #user-position {
        width: 100%;
        margin: 0;
        color: $primary-color;
        font-weight: 600;
        font-size: 38px;
      }

      #platform-name {
        padding-top: 23px;
      }
    }
  }
}

.hero {
  header {
    font-size: 14px;
    line-height: 15px;

    h2 {
      padding: 24px 0 8px;
      font-size: inherit;
      line-height: inherit;
    }
    
    p {
      padding-bottom: 15px;
    }
  }

  .bttns {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 25px 0 20px;
    height: 50px;

    .sair-bttn {
      background-color:$bluef0;
      color: #fff;
      width: 90%;
      height: 100%;
      font-size: 12px;
      border-radius: 6px;
      margin-left: 15px;
      text-transform: uppercase;
      font-weight: 500;

      &:active {
        background-color: $bluef1
      }

      &:not(:disabled):hover {
        background-color: $bluef2;
      }
    }
    
    .voltar-bttn {
      background-color: #fff;
      color: $bluef0;
      width: 90%;
      height: 100%;
      font-size: 12px;
      border: 0.5px solid $bluef0;
      border-radius: 6px;
      font-weight: 500;
      text-transform: capitalize;

      &:active {
        color: $bluef1
      }

      &:not(:disabled):hover {
        color: $bluef2;
      }
    }
  }
}

.mat-list-item-disabled {
  background: #fff;
}

.notification-box {
  display: flex;
  align-items: center;

  ::ng-deep .mat-checkbox-inner-container {
    height: 18px;
    width: 18px;
  } 
}

@media all and (min-width: 1280px) {

  .desktop-hide {
    display: none;
  }

  .mobile-hide {
    display: block;
  }

  p {
    font-size: 16px;
  }

  .box-item-platform {
    //height: 150px;

    img {
      width: 120px;
      height: 90px;
      margin-left: 12px;
    }
  
    .text-item {
      height: 120px;
      text-align: center;

      div {
        margin-left: -2.8em;

        p:first-of-type {
          padding-bottom: 32px;
        }
  
        #user-position {
          font-size: 50px;
        }

        #platform-name {
          padding-top: 30px;
        }
      }
    }
  }

  .hero {
    width: 40%;

    header {
      h2 {
        padding: 32px 0 27px;
        font-size: 21px;
        font-weight: 400;
      }

      p {
        padding-bottom: 35px;
      }
    }

    .bttns {
      height: 50px;

      .sair-bttn {
        font-size: 16px;
        width: 47%;
        height: 100%;
      }
    
      .voltar-bttn {
        width: 47%;
        font-size: 16px;
        height: 100%;
      }
    }
  }

  .mat-list-item {
    height: 165px !important;
  }

  .notification-box {
    margin: 24px 0;
    ::ng-deep .mat-checkbox-inner-container {
      height: 24px;
      width: 24px;
    } 
  }
}