<app-platform-list
  [platforms]="platforms"
  [platformQueue]="platformQueue"
  [buttonFilter]="buttonFilter"
  (onPlatformChange)="selectedPlatform = $event"
  (onPlatformClick)="handlePlatformChange()"
  (onClickEvent)="handleUserEnterQueue()"
  [userChecked]="userChecked"
  *ngIf="!true"
></app-platform-list>
<!--
<app-queue-in 
  (userPositionEvent)='userPosition = $event.position;' 
  [selectedPlatform]='selectedPlatform' 
  (onClickEvent)="handleUserEnterQueue()"
></app-queue-in>

*ngIf="!userPosition || userChecked"


*ngIf="userPosition && !userChecked"
-->
<app-user-on-queue 
  [userPosition]='userPosition' 
  *ngIf="true"
  (onUserQuitQueue)="handleUserQuitQueue()"
  (onUserChecking)="userChecked = true"
></app-user-on-queue>