<app-platform-list *ngIf="!userPosition"
  [platforms]="platforms"
  [platformQueue]="platformQueue"
  (onPlatformChange)="selectedPlatform = $event"
  (onClickEvent)="handleUserEnterQueue()"
></app-platform-list>

<!--
<app-queue-in 
  (userPositionEvent)='userPosition = $event.position;' 
  [selectedPlatform]='selectedPlatform' 
  (onClickEvent)="handleUserEnterQueue()"
></app-queue-in>

*ngIf="!userPosition || userChecked"


*ngIf="userPosition && !userChecked"
-->

<app-user-on-queue *ngIf="userPosition && !userChecked && !userOnGame"
  [userPosition]='userPosition' 
  (onUserQuitQueue)="handleUserQuitQueue()"
  (onUserChecking)="userChecked = true"
  (onUserOnGame)="userOnGame = true"
></app-user-on-queue>

<app-user-on-game *ngIf="userOnGame"
  [userPosition]='userPosition'
  [selectedPlatform]="selectedPlatform"
  (onUserQuitQueue)="handleUserQuitQueue()"
></app-user-on-game>

<app-user-checked *ngIf="userChecked"
  [userPosition]='userPosition'
  [selectedPlatform]="selectedPlatform"
  [userNotification]="userNotification"
  (onUserChecking)="userChecked = false"
  (onUserQuitQueue)="handleUserQuitQueue()"
  (onUserNotification)="handleUserNotification()"
></app-user-checked>